body {
    background-image: url("background.jpg");
    background-attachment: fixed;
}

#welcome-section {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#navbar {
    width: 80%;
    margin: auto;
}

#navbar a {
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 12px 0px;
    font-size: 20px;
    background-color: #333;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.container {
    width: 80%;
    background-color: #423A38;
    height: 600px;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}