body {
    background-image: url("background.jpg");
    background-attachment: fixed;
}

#welcome-section {
    text-align: center;
}

#navbar {
    width: 80%;
    margin: auto;
}

#navbar a {
    text-align: center;
    float: left;
    width: 33.33%;
}