@media only screen and (max-width: 400px) {
    body {
        background-attachment: fixed;
    }
}

body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h2 {
    color: white !important;
    text-align: center;
}

#welcome-section {
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;
    position: relative;
    top: 50%;
    transform: translateY(30%);
}

#navbar {
    width: 80%;
    margin: auto;
}

#navbar a {
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 12px 0px;
    font-size: 20px;
    background-color: #333;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

#contact a {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: red;
}

#contact p {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: red;
}

.container {
    width: 80%;
    background-color: #423A38;
    height: 600px;
}

.jumbotron {
    background-color:transparent !important;
    margin-bottom: 0;
}

.project-tile a {
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: red;
}